<div class="index-container container">
	<div class="row">
		<div class="col-12 d-flex justify-content-center align-items-center my-5">
			<img class="img-fluid" src="images/beer.png" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-12 d-flex justify-content-center align-items-center my-5">
			<a href="beers">
				<button type="button" class="btn btn-primary">Check the beers</button>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 d-flex justify-content-center align-items-center my-5">
			<a href="randomBeer">
				<button type="button" class="btn btn-primary">Check a random beer</button>
			</a>
		</div>
	</div>
</div>