{{!-- <div class="container">
	<div class="row">
		<div class="col-4">
			<img src="{{this.image_url}}" alt="">
		</div>
		<div class="col-8">
			<p>{{this.name}}</p>
			<p>{{this.tagline}}</p>
			<p>{{this.description}}</p>
			<p>Food Pairing</p>
			<ul>
				{{#each beers.method.food_pairing}}
					<li></li>
				{{/each}}
			</ul>
		</div>
	</div>
</div> --}}