<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hello</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>About Me</h1>
  <h2>I'm {{name}} and I'm {{age}} years</h2>
  <button id="simple-button">
	  I'm a button
  </button>
  <button id="simple-button">
	  <a href="gallery">
		  Next
	  </a>
  </button>
  <button id="simple-button">
	  <a href="/">
		  Previous
	  </a>
  </button>
  <script src="/javascript/javascript.js"></script>
</body>
</html>