<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hello</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Hello, stranger</h1>
  <img src="/profile-eamz.png" alt="">
  <img src="/profile.jpeg" alt="">
  <button id="simple-button">
	  I'm a button
  </button>
  <button>
	  <a href="/">
		  Home
	  </a>
  </button>
  <button>
	  <a href="about">
		  About
	  </a>
  </button>
  <script src="/javascript/javascript.js"></script>
</body>
</html>