<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hello</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Hello, stranger</h1>
  <h2>I'm {{name}} and this I learned in the Bootcamp at {{bootcamp}}</h2>
  <button id="simple-button">
	  I'm a button
  </button>
  <button id="next-button">
	  <a href="about">
		  Next page
	  </a>
  </button>
  <script src="/javascript/javascript.js"></script>
</body>
</html>